<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
	<!-- Cadena de conexión -->
	<connectionStrings>
		<add name="sishotel"
			 providerName="System.Data.SqlClient"
			 connectionString="Data Source=.; Initial Catalog=hotelsurperu; user=sa; password=123456; Integrated Security=true" />
	</connectionStrings>
	
</configuration>